@charset "UTF-8";
/*<main>の表示範囲*/
main{
	margin-top:0px;
	margin-bottom:90px;
	padding:20px;
}
/*カテゴリーの位置と横スクロールバーの表示*/
.tab-wrapper {
  position:fixed;
  top:90px;
  left:0;
  width:100%;
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding-top: 10px;
  background-color: seashell;
  z-index:1000;
  scrollbar-width: thin;
  scrollbar-color: #888 #ccc;
  border-bottom: 1px solid #ccc;
}

/*スクロールバーの高さ*/
.tab-wrapper::-webkit-scrollbar {
  height: 8px;
}

/*スクロールバーの形と色*/
.tab-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/*スクロールバーの背景の色*/
.tab::-webkit-scrollbar-track {
  background-color: #ccc;
}

/*タブ全体*/
.tab {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 30px;
	overflow: hidden;
}

/* 横スクロールバー非表示 */
.tab-labels::-webkit-scrollbar {
	display: none;
}

/* ラベルを包むラッパーに横スクロールを指定 */
.tab-labels {
	display: flex;
	overflow-x: auto;
	margin: 0 auto;
	scroll-behavior: smooth;
}

/*ラジオボタンを非表示にする*/
.tab-item {
	display: none;
}

/*ラベルの設定*/
.tab-labels label {
	flex: 0 0 auto;
	padding: 8px 12px;
	color: #999;
	white-space: nowrap;
	cursor: pointer;
	text-align: center;
}