@charset "UTF-8";
/* style.css */
.counter-button {
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.counter-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.counter-input {
    width: 50px;
    text-align: center;
    font-size: 24px;
    border: none;
    outline: none;
    background-color: transparent;
}

/* 無効状態のボタンに灰色を適用 */
.counter-button.disabled {
    background-color: #d3d3d3;  /* 灰色 */
    cursor: not-allowed;        /* ポインタが表示されないようにする */
}
.counter-button[disabled] {
    background-color: #d3d3d3;  /* 灰色 */
    cursor: not-allowed;        /* ポインタが表示されないようにする */
}



